node_modules/
.env
.DS_Store
TMMR/CAT-048
TMMR/CAT-240
TMMR/Jet
TMMR/kamikaze
Server/Tracker/uWebSockets/
Server/Tracker/TrackerNode
Server/Optronic/mediamtx
Server/Optronic/mediamtx.yml
Server/Optronic/auto.crt
Server/Optronic/auto.key
Server/Optronic/LICENSE
